 




   {{ form_start(form) }}
    <div class="form-group row">
        <div class="col-sm-2">{{ form_label(form.total_price, 'Total Price', {'label_attr': {'class': 'control-label'}}) }}</div>
        <div class="col-sm-10">{{ form_widget(form.total_price, {'attr': {'class': 'form-control'}}) }}</div>
    </div>
    
    
    
    <!-- payment field -->
    <div class="form-group row">
        <div class="col-sm-2">{{ form_label(form.payment_method, 'Payment Method', {'label_attr': {'class': 'control-label'}}) }}</div>
        <div class="col-sm-10">
            {{ form_widget(form.payment_method, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    
    <!-- User field -->
    <div class="form-group row">
        <div class="col-sm-2">{{ form_label(form.user, 'User', {'label_attr': {'class': 'control-label'}}) }}</div>
        <div class="col-sm-10">{{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}</div>
    </div>
    

    <!-- Vol field -->
    <div class="form-group row">
        <div class="col-sm-2">{{ form_label(form.vol, 'Vol', {'label_attr': {'class': 'control-label'}}) }}</div>
        <div class="col-sm-10">{{ form_widget(form.vol, {'attr': {'class': 'form-control'}}) }}</div>
    </div>
    
    
    
    <!-- Submit button -->
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}
