{% extends 'nav_admin.html.twig' %}


{% block body %}
    <h1>Airport</h1>
    
    <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">

            <div class="col-lg-8 d-flex align-items-strech">

    <table class="table">
        <div class="col-lg-8 d-flex align-items-strech">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ airport.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ airport.code }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ airport.name }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ airport.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ airport.country }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_airport_index') }}">back to list</a>

    <a href="{{ path('app_airport_edit', {'id': airport.id}) }}">edit</a>

    {{ include('airport/_delete_form.html.twig') }}

   
</div>
</div>
</div>

{% endblock %}
