{% extends 'nav_user.html.twig' %}


{% block body %}

<div style="padding-bottom: 5%;"></div>

    {# Include FullCalendar stylesheet #}
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" rel="stylesheet">
    <style>
        #calendar {
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
 

    <div id='calendar'></div>
 
 
    {# Include FullCalendar JavaScript #}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
                    {% for reservation in reservations %}
                        {
                            title: '{{ reservation.nom }}',
                          start: '{{  reservation.dateArrive|date('Y-m-d') }}T{{ reservation.dateArrive|date('H:i:s')}}',
                            end: '{{ reservation.dateDepart|date('Y-m-d') }}T{{ reservation.dateDepart|date('H:i:s') }}',
                            url: '{{ path('app_reservation_hotel_show', {'id': reservation.id}) }}' // Add the URL for vol detail page
                        },
                    {% endfor %}
                ],
                eventClick: function(info) {
                    if (info.event.url) {
                        window.location.href = info.event.url;
                    }
                }
            });
            calendar.render();
        });
    </script>


  
{% endblock %}