
{% extends 'nav_user.html.twig' %}


{% block body %}
    <div class="row">
   
</div>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PrixTT</th>
                <th>DateArrive</th>
                <th>DateDepart</th>
                <th>Email</th>
                <th>Nom</th>
                <th>PreNom</th>
                <th>Distination</th>
                <th>ChambrE</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation_hotel in reservation_hotels %}
            <tr>
                <td>{{ reservation_hotel.id }}</td>
                <td>{{ reservation_hotel.PrixTT }}</td>
                <td>{{ reservation_hotel.dateArrive ? reservation_hotel.dateArrive|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_hotel.dateDepart ? reservation_hotel.dateDepart|date('Y-m-d') : '' }}</td>
                <td>{{ reservation_hotel.email }}</td>
                <td>{{ reservation_hotel.nom }}</td>
                <td>{{ reservation_hotel.preNom }}</td>
                <td>{{ reservation_hotel.Distination }}</td>
                <td>{{ reservation_hotel.ChambrE }}</td>
                <td>
                    <a href="{{ path('app_reservation_hotel_show', {'id': reservation_hotel.id}) }}">show</a>
                    <a href="{{ path('app_reservation_hotel_edit', {'id': reservation_hotel.id}) }}">edit</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_hotel_new') }}" class="btn btn-primary btn-lg">Réserver</a>
    
    

{% endblock %}
