<!DOCTYPE html>
<html lang="en">

 <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>	  Elissa Travel </title> 
<meta name="description" content=" ">
 
 


{% block css %}
<style id="" media="all">@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('{{ asset('assets/ffont/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBi8Jow.ttf') }}') format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('{{ asset('assets/ffontrl/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K67QBi8Jow.ttf') }}') format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('{{ asset('assets/ffont/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32KxfXBi8Jow.ttf') }}') format('truetype');
}
</style>

<link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
<link rel="stylesheet" href="{{ asset('assets/fonts/ionicons/css/ionicons.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/fonts/flaticon/font/flaticon.css') }}">
<link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome/css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/select2.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/helpers.css') }}">
<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

{% endblock %}  

<meta name="robots" content="noindex, nofollow">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark probootstrap_navbar" id="probootstrap-navbar">
<div class="container">
<a class="navbar-brand" href="">Elissa Travel</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-menu" aria-controls="probootstrap-menu" aria-expanded="false" aria-label="Toggle navigation">
<span><i class="ion-navicon"></i></span>
</button>
<div class="collapse navbar-collapse" id="probootstrap-menu">
<ul class="navbar-nav ml-auto">
  <li class="nav-item active"><a class="nav-link" href="">Home</a></li>



  <li class="nav-item"><a class="nav-link" href=" ">Hotel </a></li>
  <li class="nav-item"><a class="nav-link" href="">Travel With Us</a></li>
  <li class="nav-item"><a class="nav-link" href="{{ path('app_voyage_clientF') }}">organized trip</a></li>
  <li class="nav-item"><a class="nav-link" href="">events</a></li>
  <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
  <li class="nav-item"><a class="nav-link" href="">Profile</a></li>
 



</ul>
</div>
</div>
</nav>
{% block body %}
 
{% endblock %}


<footer class="probootstrap_section probootstrap-border-top">
  <div class="container">
  <div class="row mb-5">
  <div class="col-md-3">
  <h3 class="probootstrap_font-18 mb-3">Quick Links</h3>
  <ul class="list-unstyled">
  <li><a href="" target="_blank">Home</a></li>
  <li><a href=" " target="_blank">About</a></li>
  <li><a href=" " target="_blank">Services</a></li>
  <li><a href=" " target="_blank">Contact</a></li>
  </ul>
  </div>
  <div class="col-md-3">
  <h3 class="probootstrap_font-18 mb-3">Quick Links</h3>
  <ul class="list-unstyled">
  <li><a href="" target="_blank">Home</a></li>
  <li><a href=" " target="_blank">About</a></li>
  <li><a href=" " target="_blank">Services</a></li>
  <li><a href="  " target="_blank">Contact</a></li>
  </ul>
  </div>
  <div class="col-md-3">
  <h3 class="probootstrap_font-18 mb-3">Quick Links</h3>
  <ul class="list-unstyled">
  <li><a href="" target="_blank">Home</a></li>
  <li><a href="  " target="_blank">About</a></li>
  <li><a href=" " target="_blank">Services</a></li>
  <li><a href=" " target="_blank">Contact</a></li>
  </ul>
  </div>
  <div class="col-md-3">
  <h3 class="probootstrap_font-18 mb-3">Quick Links</h3>
  <ul class="list-unstyled">
  <li><a href="" target="_blank">Home</a></li>
  <li><a href=" " target="_blank">About</a></li>
  <li><a href=" " target="_blank">Services</a></li>
  <li><a href=" " target="_blank">Contact</a></li>
  </ul>
  </div>
  </div>
  <div class="row pt-5">
  <div class="col-md-12 text-center">
  <p class="probootstrap_font-14">&copy; 2024. All Rights Reserved. <br> Designed &amp; Developed by <a href="" target="_blank">TechGuardiant</a> </p>
   
  </div>
  </div>
  </div>
  </footer>
  
  {% block js %} 
  <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/js/popper.min.js') }}"></script>
  <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
  <script src="{{ asset('assets/js/bootstrap-datepicker.js') }}"></script>
  <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
  <script src="{{ asset('assets/js/jquery.easing.1.3.js') }}"></script>
  <script src="{{ asset('assets/js/select2.min.js') }}"></script>
  <script src="{{ asset('assets/js/main.js') }}"></script>
  <script defer src="{{ asset('assets/js/v84a3a4012de94ce1a686ba8c167c359c1696973893317') }}" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"8547a98b99eb717f","b":1,"version":"2024.2.0","token":"1aea4905526a46c1a4fc9bc1d0e89a42"}' crossorigin="anonymous"></script>

{% endblock %}
  
    </body>
  
   
  
  </html>
 