{% extends 'nav_admin.html.twig' %}


{% block body %}
<div style="padding-bottom: 5%;"></div>
    <!-- Row 1 -->
    <div class="row">
        <div class="col-lg-8">

 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Class_name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Ticket_number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for volclass in volclasses %}
            <tr>
                <td>{{ volclass.id }}</td>
                <td>{{ volclass.className }}</td>
                <td>{{ volclass.description }}</td>
                <td>{{ volclass.price }}</td>
                <td>{{ volclass.ticketNumber }}</td>
                <td>
                    <a href="{{ path('app_volclass_show', {'id': volclass.id}) }}">show</a>
                    <a href="{{ path('app_volclass_edit', {'id': volclass.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_volclass_new') }}">Create new</a>  


</div>
 
</div>
{% endblock %}
