{% extends 'nav_user.html.twig' %}
{% block body %}


<section class="probootstrap_section bg-light">
<div class="container">
<div class="row text-center mb-5 probootstrap-animate">
<div class="col-md-12">
<h2 class="display-4 border-bottom probootstrap-section-heading">Our Trips</h2>
</div>
</div>



{% for voyage in pagination %}
<div class="container">
<div class="row text-center mb-5 probootstrap-animate">
<div class="col-md-12">
<div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
<div class="probootstrap-media-image" style="background-image">
<img src="{{ asset('uploads/voyages/' ~ voyage.imageName) }}" alt="Image de voyage">
</div>


<div class="media-body">
 


 <div class="text-center">
  <div class="voyage-details">
   <strong>Destination:</strong> {{voyage.destination  }}
   
   </div></div>

   <div class="text-center">
  <div class="voyage-details">
   <strong> On </strong> {{voyage.mois}} {{voyage.annee}}
   </div> </div>





 <a href="{{ path('app_programme_clientprog', {'voyageId': voyage.id}) }}">Read More</a>
</div>
</div>
</div></div>
 
 {% endfor %}
 {{ knp_pagination_render(pagination) }}


</div>
</section>


  {% endblock %}
