{% extends 'nav_admin.html.twig' %}



{% block body %}
<div class="container-fluid"  style="margin-top: 10px; align-items:center;">
<div class="row mb-5 probootstrap-animate">

<div class="col-sm" >
            
                <a href="{{ path('app_voyage_new') }}" class="btn btn-dark" >Add New Trip</a>
           
        </div>
    

<div class="col-sm" >
            <form action="" method="GET">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search by  trip destination ">
                    
                    </div> 
</div>
         <div class="col-sm" >
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="submit">Search</button>
                    </div>
         </div>
            </form>
</div>
</div>
<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Departure city</th>
                <th>Distination</th>
                <th>Month</th>
                <th>Year</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.villedepart }}</td>
                  <td>{{ voyage.destination }}</td>
                <td>{{ voyage.mois }}</td>
                <td>{{ voyage.annee }}</td>
          
          

                <td>
                    <a href="{{ path('app_voyage_show', {'id': voyage.id}) }}">show</a>
                    <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
